$slick-font-path: "~slick-carousel/slick/fonts/";
$slick-loader-path: "~slick-carousel/slick/";

@import '~slick-carousel/slick/slick', '~slick-carousel/slick/slick-theme';

.slick-arrow:before {
    color: #1a1a1a !important;
    font-size: 1.8rem;
    text-shadow: 0 0 10px #fff;
}

.card__text--paragraph {
    height: 150px;
}
