@import "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css";
@import "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css";

.slick-arrow:before {
    color: #1a1a1a !important;
    font-size: 1.8rem;
    text-shadow: 0 0 10px #fff;
}

.card__text--paragraph {
    height: 150px;
}
