<%= filter_form_for filter, decidim_participatory_processes_path do |form| %>
  <div class="columns mediumlarge-4 large-3">
    <%= cell(
          "decidim/scopes_picker",
          form,
          attribute: :scope_id,
          multiple: true,
          legend_title: t("decidim.homepage_proposals.proposal_at_a_glance.filters.scope"),
          label: false,
          checkboxes_on_top: false
        ) %>
  </div>
  <div class="columns mediumlarge-4 large-3">
    <%= form.categories_select :category_id,
                               categories_filter,
                               legend_title: t("decidim.homepage_proposals.proposal_at_a_glance.filters.categories"),
                               label: "",
                               selected: filter.category_id,
                               include_blank: t("decidim.homepage_proposals.proposal_at_a_glance.filters.default_categories") %>
  </div>
  <div class="columns mediumlarge-4 large-3">
    <%= form.select :component_id,
                    options_for_default_component,
                    class: "select2",
                    label: false,
                    selected: filter.component_id,
                    data: { placeholder: t("decidim.homepage_proposals.proposal_at_a_glance.filters.components") } %>

<% end %>