<div class="column">
  <div class="card card--empty">
    <div class="card__content">
      <div class="card__header">
        <h2 class="card__title"><%= t("decidim.homepage_proposals.proposal_at_a_glance.no_proposals.title") %></h2>
      </div>
      <div class="card__body">
        <p class="card__text"><%= t("decidim.homepage_proposals.proposal_at_a_glance.no_proposals.description") %></p>
      </div>
    </div>
  </div>
</div>